on:
  workflow_dispatch:
  
jobs:
  DemoDeployment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: deploy infra
        id: deploy_infra
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
          resourceGroupName: ${{ secrets.AZURE_RG }}
          template: ./infra/main.bicep
          parameters: 'location=westeurope shortLocation=we'
          failOnStdErr: false
      - run: echo ${{ steps.deploy_infra.outputs.miPrincipalId }}

  
