on:
  workflow_dispatch:
  
jobs:
  DeployInfra:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: deploy infra
        id: deploy_infra
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.AZURE_SUBSCRIPTION }}
          resourceGroupName: ${{ secrets.AZURE_RG }}
          template: ./infra/main.bicep
          parameters: 'location=westeurope shortLocation=we'
          failOnStdErr: false
      - name: give mi access to sb
        uses: azure/CLI@v1
        with: 
          inlineScript: az role assignment create --assignee ${{ steps.deploy_infra.outputs.miPrincipalId }} --role "Azure Service Bus Data Owner" --scope ${{ steps.deploy_infra.outputs.sbId }}
  BuildSolution:
    runs-on: ubuntu-latest
    steps:  
      - uses: actions/checkout@main  
      - name: zip workflows
        uses: vimtor/action-zip@1
        with:
          dest: ${{ github.run_id }}.zip
          files: ./logicapp/
      - uses: actions/upload-artifact@v3.1.2
        with:
          name: build-artifact
          path: ${{ github.run_id }}.zip
  DeploySolution:
    runs-on: ubuntu-latest
    steps:
      - uses: azure/login@v1
        with:
          creds: ${{secrets.AZURE_CREDENTIALS}}
          enable-AzPSSession: true
      - name: get publish profile
        id: la_app
        uses: Azure/powershell@v1
        with:
          inlineScript: |
            $profile = Get-AzWebAppPublishingProfile `
              -ResourceGroupName ${{ secrets.AZURE_RG }}`
              -Name ${{ steps.deploy_infra.outputs.laName }}
            $profile = $profile.Replace("`r", "").Replace("`n", "")
            Write-Output "::set-output name=profile::$profile"
         a zPSVersion: latest
      - uses: actions/download-artifact@master
        with:
          name: build-artifact
          path: build-artifact/
      - name: deploy to azure logicapp
        uses: Azure/functions-action@v1
        id: la
        with:
          app-name: ${{ steps.deploy_infra.outputs.laName }}
          package: built_artifact/${{ github.run_id }}.zip
          publish-profile: ${{steps.la_app.outputs.profile}}
      